<! -- ...User/Index -->

<! -- .. model JaredLoucksCodingChallenge.Models.User -->

@model JaredLoucksCodingChallenge.ViewModels.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.User.Id @Model.User.FirstName @Model.User.LastName</h2>

<! -- ...If User has no Projects -->
@if (Model.Projects.Count == 0)
{
    <p>This user has no Projects.</p>
}
else
{
    <! -- ...List -->
    <ul>
        @foreach (var project in Model.Projects)
        {
            //C# or HTML allowed in this block

            <li>@project.Id</li>
        }
    </ul>
}




